---
- name: Get existing clients
  uri:
    url: "https://vpn.cyber/api/client"
    method: GET
    user: "{{ vpn_username }}"
    password: "{{ vpn_password }}"
    force_basic_auth: yes
    status_code: 200
    validate_certs: no
  register: existing_clients_response

- name: Set facts for existing clients
  set_fact:
    existing_client_names: "{{ existing_clients_response.json | map(attribute='name') | list }}"

- name: Calculate expiration date (1 year from now)
  set_fact:
    expiration_date: "{{ '%Y-%m-%dT%H:%M:%S.000Z' | strftime((ansible_date_time.epoch | int) + 31536000) }}"


- name: Create VPN user if not exists
  uri:
    url: "https://vpn.cyber/api/client"
    method: POST
    user: "{{ vpn_username }}"
    password: "{{ vpn_password }}"
    force_basic_auth: yes
    body_format: json
    body:
      name: "{{ item.name }}"
      expiresAt: "{{ expiration_date }}"
    status_code: 200
    validate_certs: no
  loop: "{{ gogs_users | default([]) }}"
  when: item.name not in existing_client_names
