---
- name: Login to get session
  uri:
    url: "https://vpn.cyber/api/session"
    method: POST
    body_format: json
    body:
      password: "{{ vpn_password }}"
    status_code: [200, 204]
    validate_certs: no
  register: login_response

- name: Get existing clients
  uri:
    url: "https://vpn.cyber/api/wireguard/client"
    method: GET
    headers:
      Cookie: "{{ login_response.cookies_string }}"
    status_code: 200
    validate_certs: no
  register: existing_clients_response

- name: Process each user
  include_tasks: send_user_email.yml
  loop: "{{ gogs_users }}"
  when: item.email is defined
