---
- name: Find VPN client ID
  set_fact:
    client_id: "{{ (existing_clients_response.json | selectattr('name', 'equalto', item.name) | list | first).id }}"
  when: existing_clients_response.json | selectattr('name', 'equalto', item.name) | list | length > 0

- name: Download VPN configuration
  uri:
    url: "https://vpn.cyber/api/client/{{ client_id }}/configuration"
    method: GET
    headers:
      Cookie: "{{ login_response.cookies_string }}"
    return_content: no
    dest: "/tmp/{{ item.name }}.conf"
    status_code: 200
    validate_certs: no
  when: client_id is defined

- name: Send email to user
  community.general.mail:
    host: "{{ gogs_smtp_host.split(':')[0] }}"
    port: "{{ gogs_smtp_host.split(':')[1] }}"
    username: "{{ gogs_smtp_user }}"
    password: "{{ gogs_smtp_passwd }}"
    from: "{{ gogs_smtp_from }}"
    to: "{{ item.email }}"
    subject: "Your Peryton Credentials and VPN Configuration"
    body: |
      Hello {{ item.name }},

      If you are receiving this email, it means you have been added to the Peryton platform. To connect, you must first install WireGuard on your computer and use the configuration file attached to this email.

      To install WireGuard on Debian, use the command "sudo apt install wireguard" and place your configuration in /etc/wireguard/wg0.conf. You can then use the commands 'wg-quick up wg0' and 'wg-quick down wg0' to bring the tunnel up and down, respectively. 
      
      Once the tunnel is established, you can easily access the various services via https://homepage.cyber.

      As a kind reminder, all courses, labs, and **evaluations** must be performed on Linux (VM, physical machine, or WSL). You must have a Linux environment ready **before** starting the courses.

      Regarding Gogs (git server), your personal credentials are as follows:
      
      URL: {{ gogs_url }}
      Username: {{ item.name }}
      Password: {{ item.password }}

      On the homepage, you will also find useful external resources for your lab and to deepen your understanding of cybersecurity.

      Best regards,
      The Admin
    attach:
      - "/tmp/{{ item.name }}.conf"
    secure: starttls
  ignore_errors: yes
  when: client_id is defined

- name: Remove temporary config file
  file:
    path: "/tmp/{{ item.name }}.conf"
    state: absent
  when: client_id is defined
