---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

- No code:
    - N8N:
        href: https://{{n8n_fqdn}}
        description: No code tools
    - Nocodb:
        href: https://{{nocodb_fqdn}}
        description: Spreadshet at the best
