---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

- Services:
    - Gogs :
        href: https://gogs.lan
        description: the Git repository
        icon: gogs

- Admin:
    - VPN:
        href: https://vpn.lan
        description: the VPN manager
        icon: nordvpn
    - Pihole :
        href: https://pihole.lan/admin
        description: the dns server
        icon: pi-hole
    - CRL :
        href: http://crl.lan
        description: CA root location
        icon: mdi-key-chain
        
- Ressources :
    - Course :
        href: http://ressources.lan/courses
        description: Where you can find courses
        icon: mdi-school

- External ressources:
    - Challenges:
        - Rootme:
            href: https://www.root-me.org/
            icon: https://www.root-me.org/IMG/logo/siteon0.svg?1637496509
        - Tryhackme:
            href: https://tryhackme.com/
            icon: https://assets.tryhackme.com/img/logo/tryhackme_logo_full.svg
        - Overthewire:
            href: https://overthewire.org/wargames/
            icon: https://overthewire.org/favicon.ico
        - Hackthebox:
            href: https://www.hackthebox.com/
            icon: https://www.hackthebox.com/images/landingv3/favicon.png
        - Cryptohack:
            href: https://cryptohack.org/
            icon: https://cryptohack.org/static/favicon/favicon-32x32.png
            description: courses + challenges
        - Blue team lab:
            href: https://blueteamlabs.online/
            icon: https://blueteamlabs.online/favicon.ico
            description : the challenges platform for blue teams
        - Malware traffic analysis:
            href: https://www.malware-traffic-analysis.net/
            icon: https://www.malware-traffic-analysis.net/favicon.ico
            description : malware traffic analysis exercices
        - Crackmes:
            href: https://crackmes.one/
            icon: https://crackmes.one/static/favicons/crackmes-logo.png
            description : crackmes challenges
        - Cryptopals:
            href : https://cryptopals.com/
            description : crypto challenges
            icon : mdi-lock-plus
    - Courses:
        - Zeste de savoir:
            href: https://zestedesavoir.com
            icon: https://zestedesavoir.com/static/images/favicons/32.8864f5e754ff.png
        - PortSwigger:
            href: https://portswigger.net/web-security
            icon: https://pbs.twimg.com/profile_images/1271377080220033024/InZ0OCwH_400x400.png
        - The DFIR Report:
            href: https://thedfirreport.com/
            icon: https://thedfirreport.com/wp-content/uploads/2020/04/cropped-dfir-v1-w-32x32.png
            description : Security issue analysis
        - Le blog du hacker:
            href: https://www.leblogduhacker.fr/
            icon: https://images.leblogduhacker.fr/2019/04/logo-leblogduhacker.jpg


            
            
