---
# tasks file for docker

- name: Install prerequisites
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present
    update_cache: yes

- name: Install Docker using get.docker.com script
  shell: curl -fsSL https://get.docker.com | sh
  args:
    creates: /usr/bin/docker

- name: Install docker compose
  apt:
    name:
      - docker-compose
    state: present
    update_cache: yes

- name: Enable & start Docker service
  systemd:
    name: docker
    enabled: yes
    state: started

- name: Reboot
  ansible.builtin.reboot:
    msg: "Reboot raised by ansible"
    connect_timeout: 5      
    reboot_timeout: 600     
    pre_reboot_delay: 0     
    post_reboot_delay: 10   
    test_command: whoami    